.starter-page {
    display: flex;
    flex-direction: column;
}

.starter-page h3 {
    color: #222222;
    text-align: center;
    margin-bottom: 1.1rem;
    font-size: 20px;
}

.starter-page button {
    width: 12rem;
}

.center-div {
    display: flex;
    flex-direction: row;
}

.login-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(224, 242, 255);
    width: 50vw;
}

.group-div {
    width: fit-content;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.guest-div {
    width: 30rem;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.group-div input {
    width: 20rem;
}

.starter-page button {
    padding: 13px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 16px;
    border-radius: 10px;
    transition: border-color 0.3s;
}

.title {
    background-color: var(--blue-table);
    width: 100vw;
    text-align: center;
    padding: 1rem;
}

.title h2 {
    color: #fff;
}

a {
    padding: 1rem;
    color: #000;
}

.chemistry-img {
    background-image: url('./assets/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: 100vh;
}