#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--blue-table);
    top: 0;
    margin: 0 auto;
    position: sticky;
    width: 100%;
    height: 3rem;
    z-index: 99;
}

#header>a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 0 1rem;
    height: 100%;
    background-color: var(--blue-table);
    display: flex;
    align-items: center;
}

.home-btn>img {
    width: 2rem;
}

.home-btn {
    display: flex;
    flex-direction: row;
    background-color: black;
    gap: 1rem;
    margin-right: 2rem;
}

.layout-home {
    background-color: bisque;
}

.logout {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
    gap: .5rem;
    color: #fff;
}

.logout button,
.admin-panel-btn button {
    padding: 10px;
    border: 0;
    border-radius: 4px;
    transition: border-color 0.3s;
    cursor: pointer;
}

.admin-panel-btn {
    margin-right: 1rem;
}

.logout-btn {
    background-color: #d16767;
}

.archive-menu {
    height: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.archive-menu .home-btn {
    height: 3rem;
    color: #fff;
    background-color: var(--blue-table);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
    padding: 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.archive-menu .home-btn:hover {
    background-color: var(--lightblue-table);
}

#header a:hover {
    background-color: var(--lightblue-table);
}