.admin-panel {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.admin-panel form {
    height: 3rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.admin-panel button {
    padding: 10px;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #d3d3d3;
    transition: border-color 0.3s;
}

.green-txt {
    color: green;
    font-weight: 600;
}