.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    max-height: 90vh;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content ul {
    list-style: none;
    padding: 0;
}

.modal-content li {
    margin: 8px 0;
}

.modal-content button {
    padding: 10px 15px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #115293;
}

.modal-content p {
    background-color: var(--sky-blue);
    padding: .2rem .6rem;
    display: flex;
    justify-content: space-between;
}

.capitalize {
    text-transform: capitalize;
}