.dialog-edit {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    color: #000;
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.503);
    z-index: 1000;
    border: 1px solid #000;
    border-radius: 10px;
    width: 40rem;
}

.dialog-delete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    color: #000;
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.503);
    z-index: 1000;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.action {
    position: fixed;
    top: 50%;
    left: 50%;
}

.dialog-delete .edit-component form {
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.uwagi-text {
    font-size: 1rem;
    resize: none;
}

.dostepnosc-checkbox {
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
}

.dostepnosc-checkbox input {
    transform: scale(1.5);
    margin: 0 1rem;
}

.buttons-edit {
    display: flex;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    border: 0;
}

.buttons-edit button {
    flex: 1;
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.buttons-edit .save-btn {
    background-color: rgb(73, 201, 73);
}

.buttons-edit .cancel-btn {
    background-color: rgb(210, 64, 57);
}

.buttons-row button {
    flex: 1;
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darkerblue-table);
    padding: 0;
}

.delete-btn img {
    width: 1.5rem;
    padding: .5rem 1rem;
}

.buttons-row button:hover {
    background-color: var(--lightblue-table);
}

.buttons-row p {
    padding: 0;
}