.dictionary-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
    height: fit-content;
    width: 40vw;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
}

.form-container button {
    padding: .5rem 2rem;
}

.add-btn {
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
}

.group-buttons {
    display: flex;
    gap: 1rem;
}

.toggle-btn {
    border-radius: 4px;
    border: 1px solid #ddd;
}

.toggle-btn:hover {
    background-color: #e0e0e0;
}

.toggle-btn.active {
    background-color: #cde3ff;
    color: #000;
}

.dictionary-form {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 4px;
}

.action-dictionary {
    height: 2rem;

}

.dictionary-delete {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: var(--darkerblue-table);
}

.dictionary-delete {
    background-color: var(--delete-btn-before);
    cursor: pointer;
}

.dictionary-delete:hover {
    background-color: var(--delete-btn);
}

.company-names,
.sample-names {
    text-transform: uppercase;
}