/* === Kontener tabeli === */
.table-container {
    width: 100%;
    height: 50rem;
    max-height: 75vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    background-color: #fbfbfb;

}

/* === Tabela === */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid #333;
}

/* === Wiersze === */
tr {
    background-color: #ffffff;
    cursor: pointer;
    height: 35px;
    border: 1px solid #333;

}

tr:hover,
.clickable-row:hover {
    background-color: #f4f4f4;
}

th {
    background-color: var(--lightblue-table);
}

/* === Nagłówki === */
th {
    width: 200px;
    padding: 12px;
    border: 1px solid #333;
    text-align: center;
    background-color: var(--lightblue-table);
    color: white;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.random-column {
    width: 100px;
    min-width: 100px;
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* === Komórki === */
td {
    padding: 0;
    border: 1px solid #333;
    text-align: center;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    position: relative;
}

.disposal-table th {
    width: 100%;
}

/* === Stylizacja nazw === */
.sample-names {
    text-transform: capitalize;
}

.company-names {
    text-transform: uppercase;
}

.disposal-btn {
    background-color: var(--delete-btn-before);
    cursor: pointer;
}

.disposal-btn:hover {
    background-color: var(--delete-btn);
}

/* === Ikony w przyciskach === */
.buttons-row img {
    width: 1rem;
}

.sortable {
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}

.disabled-row {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
}

.delete-btn {
    padding: .2rem;
    background-color: #7d0f1857;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.delete-btn:hover {
    background-color: #48090e57;
}