#order-register {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
}

#order-register h3 {
    margin: 0;
}

.register {
    width: 20rem;
}

.register form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.register form label {
    gap: .5rem;
    font-size: 14px;
}

.orders {
    width: 100%;
    height: 80vh;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #eaeff1;
}


.register {
    height: 80vh;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #c7c7c7;
}

.orders {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.order-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 0.75rem;
    padding: 1rem;
    background-color: #f9f9f9;
}

.order-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.order-grid p {
    margin: 0.25rem 0;
    font-size: 14px;
}

.order-card small {
    color: #555;
}

.capitalize {
    text-transform: capitalize;
}

.delete-order {
    width: fit-content;
    padding: .5rem;
    margin: .2rem 0;
    background-color: #7d0f1857;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.register button {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
}

.no-capitalize {
    text-transform: none;
}